@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$purple: #141027;
$orange: #cc7312;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  // outline: 1px solid blue;
}

// MAIN PAGE HEADER

body {
  background-color: rgba(255, 255, 255, 0.719);
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(71,32,122,1);

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
  }

}

img {
  max-width:100%;
  max-height:100%;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;

}

section {
  scroll-snap-align: start;
}

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  color: rgba(255, 255, 255, 0.842);
  background-image: url(images/background.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }

}

.header-container {
  display: flex;
  margin: auto;
  height: 13vh;
  width: 70vw;
  border-bottom: 2px solid;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 300;
  color: rgba(227, 246, 248, 0.815);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.226);

  .header-container__discover {
    width: 10vw;
    padding: 15px;
    text-align: center;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .5s;
  }

  .header-container__discover:hover {
    border-bottom: 1px solid $orange;
    padding-top: 1px;
  }

  .header-container__forums {
    width: 10vw;
    padding: 15px;
    text-align: center;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .5s;
  }

  .header-container__forums:hover {
    border-bottom: 1px solid $orange;
    transform: scale(1.02);
    box-shadow: 3px black;
    padding-top: 1px;
  }

  .header-container__team {
    width: 10vw;
    padding: 15px;
    text-align: center;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .5s;
  }

  .header-container__team:hover {
    border-bottom: 1px solid $orange;
    padding-top: 1px;
  }

  .header-container__about {
    width: 10vw;
    padding: 15px;
    text-align: center;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .5s;
  }

  .header-container__about:hover {
    border-bottom: 1px solid $orange;
    padding-top: 1px;
  }

  .header-container__contact {
    width: 10vw;
    padding: 15px;
    text-align: center;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .5s;
  }

  .header-container__contact:hover {
    border-bottom: 1px solid $orange;
    padding-top: 1px;
  }
}

// MAIN PAGE TITLE

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86.7vh;
  width: 100vw;


  .title__name {
    width: 70vw;
    height: 30vh;
    text-shadow: -6px -5px 4px $orange;
  }

  .title__text {
    width: 22vw;
    height: 25vh;
    text-align: center;
    font-size: 25px;
    margin-top: 160px;
    font-weight: 400;
  }

  h1 {
    text-align: center;
    font-size: 130px;
    margin-top: 150px;
    color: rgba(224, 212, 196, 0.774);
  }
}

// DISCOVER

.discover {
  background-color: $purple;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(20,16,39);
  background: linear-gradient(180deg, rgba(20,16,39,1) 27%, rgba(67,67,186,1) 100%);

  .discover__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
  }

  .discover__container__image {
    height: 70vh;
    width: 40vw;
    text-align: center;
    font-size: 50px;
  }

  .discover__img {
    height: 90%;
    margin-top: 50px;
  }

  .discover__container__text {
    height: 25vh;
    width: 35vw;
    text-align: center;
    justify-self: flex-end;
    font-size: 30px;
  }
}

//FORUMS

.forum {
  background-color: $purple;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(67,67,186);
  background: linear-gradient(180deg, rgba(67,67,186,1) 27%, rgba(134,50,212,1) 100%);


  .forum__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
  }

  .forum__container__image {
    height: 60vh;
    width: 40vw;
    text-align: center;
    font-size: 50px;
  }

  .forum__container__text {
    height: 25vh;
    width: 35vw;
    text-align: center;
    justify-self: flex-end;
    font-size: 30px;
  }
}

// TEAM SECTION

.team {
  background-color: $purple;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(134,50,212);
background: linear-gradient(180deg, rgba(134,50,212,1) 27%, rgba(89,143,199,1) 100%);

  .team__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
  }

  .team__container__image {
    height: 60vh;
    width: 40vw;
    text-align: center;
    font-size: 50px;
  }

  .team__container__text {
    height: 25vh;
    width: 35vw;
    text-align: center;
    justify-self: flex-end;
    font-size: 30px;
  }
}

// ABOUT AND FORM

.about {
  background-color: $purple;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(89,143,199);
  background: linear-gradient(180deg, rgba(89,143,199,1) 27%, rgba(71,32,122,1) 100%);

  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
  }

  .about__container__image {
    height: 60vh;
    width: 40vw;
    text-align: center;
    font-size: 50px;
    margin-right: 30px;
  }

  p {
    font-size: 25px;
    margin-top: 30px;
    margin-right: 20px;
  }
}

// FORM

.about__container__form {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7), -7px -7px 8px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  backface-visibility: visible;
  background-color: rgba(0, 0, 0, 0.514);
  margin-left: 60px;


  label {
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 500;
  }

  input {
    margin-bottom: 38px;
  }

  h2 {
    margin-bottom: 60px;
  }

  button {
    margin-top: 40px;
    border-radius: 8px;
    padding: 10px;
    width: 8vw;
    font-weight: 600;
    background-color: rgba(197, 102, 201, 0.74);
    cursor: pointer;
    transition: .3s;
    color: white;
  }

  button:hover {
    transform: scale(1.1);
    background-color: rgba(202, 152, 204, 0.952);
    color: $purple;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
  }

  .form__name {
    width: 15vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
  }

  .form__email {
    width: 15vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
  }

  .form__message {
    padding: 7px;
    width: 15vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
    line-height: 40px;
  }
}

// FOOTER

footer {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(112, 90, 146, 0.753);

  .footer__images {
    display: flex;
    height: 30%;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }

    .github {
      height: auto;
      width: auto;
      border-radius: 50%;
      transition: .3s;
      cursor: pointer;
    }

    .github:hover {
      background-color: rgba(181, 166, 204, 0.753);
      transform: scale(1.03);
    }

    .instagram {
      height: auto;
      width: auto;
      border-radius: 50%;
      transition: .3s;
      cursor: pointer;
    }

    .instagram:hover {
      background-color: rgba(181, 166, 204, 0.753);
      transform: scale(1.03);
    }

    .twitch {
      height: auto;
      width: auto;
      border-radius: 10%;
      transition: .3s;
      cursor: pointer;
    }

    .twitch:hover {
      background-color: rgba(181, 166, 204, 0.753);
      transform: scale(1.03);
    }

    .twitter {
      height: auto;
      width: auto;
      border-radius: 50%;
      transition: .3s;
      cursor: pointer;
    }

    .twitter:hover {
      background-color: rgba(181, 166, 204, 0.753);
      transform: scale(1.03);
    }

  .footer__text {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
  }
}