@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 255, 255, 0.719);
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(71, 32, 122);
}
body a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
}

img {
  max-width: 100%;
  max-height: 100%;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
}

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #141027;
  color: rgba(255, 255, 255, 0.842);
  background-image: url(images/background.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}
.header-container {
  display: flex;
  margin: auto;
  height: 13vh;
  width: 70vw;
  border-bottom: 2px solid;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 300;
  color: rgba(227, 246, 248, 0.815);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.226);
}
.header-container .header-container__discover {
  width: 10vw;
  padding: 15px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.header-container .header-container__discover:hover {
  border-bottom: 1px solid #cc7312;
  padding-top: 1px;
}
.header-container .header-container__forums {
  width: 10vw;
  padding: 15px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.header-container .header-container__forums:hover {
  border-bottom: 1px solid #cc7312;
  transform: scale(1.02);
  box-shadow: 3px black;
  padding-top: 1px;
}
.header-container .header-container__team {
  width: 10vw;
  padding: 15px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.header-container .header-container__team:hover {
  border-bottom: 1px solid #cc7312;
  padding-top: 1px;
}
.header-container .header-container__about {
  width: 10vw;
  padding: 15px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.header-container .header-container__about:hover {
  border-bottom: 1px solid #cc7312;
  padding-top: 1px;
}
.header-container .header-container__contact {
  width: 10vw;
  padding: 15px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.header-container .header-container__contact:hover {
  border-bottom: 1px solid #cc7312;
  padding-top: 1px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86.7vh;
  width: 100vw;
}
.title .title__name {
  width: 70vw;
  height: 30vh;
  text-shadow: -6px -5px 4px #cc7312;
}
.title .title__text {
  width: 22vw;
  height: 25vh;
  text-align: center;
  font-size: 25px;
  margin-top: 160px;
  font-weight: 400;
}
.title h1 {
  text-align: center;
  font-size: 130px;
  margin-top: 150px;
  color: rgba(224, 212, 196, 0.774);
}

.discover {
  background-color: #141027;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(20, 16, 39);
  background: linear-gradient(180deg, rgb(20, 16, 39) 27%, rgb(67, 67, 186) 100%);
}
.discover .discover__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
.discover .discover__container__image {
  height: 70vh;
  width: 40vw;
  text-align: center;
  font-size: 50px;
}
.discover .discover__img {
  height: 90%;
  margin-top: 50px;
}
.discover .discover__container__text {
  height: 25vh;
  width: 35vw;
  text-align: center;
  justify-self: flex-end;
  font-size: 30px;
}

.forum {
  background-color: #141027;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(67, 67, 186);
  background: linear-gradient(180deg, rgb(67, 67, 186) 27%, rgb(134, 50, 212) 100%);
}
.forum .forum__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
.forum .forum__container__image {
  height: 60vh;
  width: 40vw;
  text-align: center;
  font-size: 50px;
}
.forum .forum__container__text {
  height: 25vh;
  width: 35vw;
  text-align: center;
  justify-self: flex-end;
  font-size: 30px;
}

.team {
  background-color: #141027;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(134, 50, 212);
  background: linear-gradient(180deg, rgb(134, 50, 212) 27%, rgb(89, 143, 199) 100%);
}
.team .team__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
.team .team__container__image {
  height: 60vh;
  width: 40vw;
  text-align: center;
  font-size: 50px;
}
.team .team__container__text {
  height: 25vh;
  width: 35vw;
  text-align: center;
  justify-self: flex-end;
  font-size: 30px;
}

.about {
  background-color: #141027;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(89, 143, 199);
  background: linear-gradient(180deg, rgb(89, 143, 199) 27%, rgb(71, 32, 122) 100%);
}
.about .about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
.about .about__container__image {
  height: 60vh;
  width: 40vw;
  text-align: center;
  font-size: 50px;
  margin-right: 30px;
}
.about p {
  font-size: 25px;
  margin-top: 30px;
  margin-right: 20px;
}

.about__container__form {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7), -7px -7px 8px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  backface-visibility: visible;
  background-color: rgba(0, 0, 0, 0.514);
  margin-left: 60px;
}
.about__container__form label {
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 500;
}
.about__container__form input {
  margin-bottom: 38px;
}
.about__container__form h2 {
  margin-bottom: 60px;
}
.about__container__form button {
  margin-top: 40px;
  border-radius: 8px;
  padding: 10px;
  width: 8vw;
  font-weight: 600;
  background-color: rgba(197, 102, 201, 0.74);
  cursor: pointer;
  transition: 0.3s;
  color: white;
}
.about__container__form button:hover {
  transform: scale(1.1);
  background-color: rgba(202, 152, 204, 0.952);
  color: #141027;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
}
.about__container__form .form__name {
  width: 15vw;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
}
.about__container__form .form__email {
  width: 15vw;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
}
.about__container__form .form__message {
  padding: 7px;
  width: 15vw;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
  line-height: 40px;
}

footer {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(112, 90, 146, 0.753);
}
footer .footer__images {
  display: flex;
  height: 30%;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
footer .github {
  height: auto;
  width: auto;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
footer .github:hover {
  background-color: rgba(181, 166, 204, 0.753);
  transform: scale(1.03);
}
footer .instagram {
  height: auto;
  width: auto;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
footer .instagram:hover {
  background-color: rgba(181, 166, 204, 0.753);
  transform: scale(1.03);
}
footer .twitch {
  height: auto;
  width: auto;
  border-radius: 10%;
  transition: 0.3s;
  cursor: pointer;
}
footer .twitch:hover {
  background-color: rgba(181, 166, 204, 0.753);
  transform: scale(1.03);
}
footer .twitter {
  height: auto;
  width: auto;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
footer .twitter:hover {
  background-color: rgba(181, 166, 204, 0.753);
  transform: scale(1.03);
}
footer .footer__text {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer p {
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    font-size: 18px;
    width: 85vw;
    height: 10vh;
  }
  .title__name {
    width: 50vw;
    height: 20vh;
    margin-bottom: 50px;
  }
  .discover__container__text {
    height: 40vh;
    text-align: center;
    justify-self: flex-end;
    margin-bottom: 280px;
  }
  .forum__container__image {
    height: 60vh;
    width: 40vw;
    text-align: center;
    font-size: 50px;
    margin-right: 15px;
    margin-top: 100px;
  }
  .forum__container__text {
    margin-bottom: 150px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    font-size: 18px;
    width: 90vw;
    height: 10vh;
  }
  .title .title__name {
    width: 50vw;
    height: 20vh;
    margin-bottom: 70px;
  }
  .title .title__text {
    margin-left: 50px;
    margin-top: 250px;
    width: 50vw;
    font-size: 30px;
  }
  .discover {
    width: auto;
  }
  .discover .discover__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-bottom: 150px;
  }
  .discover .discover__container .discover__container__image {
    height: 60vh;
  }
  .discover .discover__container .discover__container__text {
    width: 80vw;
    font-size: 25px;
  }
  .forum {
    width: auto;
  }
  .forum .forum__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-bottom: 150px;
  }
  .forum .forum__container .forum__container__image {
    height: 30vh;
    width: 60vw;
    margin-top: 80px;
  }
  .forum .forum__container .forum__container__text {
    width: 80vw;
    font-size: 25px;
    margin-top: 356px;
  }
  .team {
    width: auto;
  }
  .team .team__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-bottom: 150px;
  }
  .team .team__container .team__container__image {
    height: 30vh;
    width: 60vw;
    margin-top: 150px;
  }
  .team .team__container .team__container__text {
    width: 80vw;
    font-size: 25px;
    margin-top: 350px;
  }
  .about {
    background-color: #141027;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(89, 143, 199);
    background: linear-gradient(180deg, rgb(89, 143, 199) 27%, rgb(71, 32, 122) 100%);
  }
  .about .about__container {
    display: flex;
    flex-direction: column;
  }
  .about .about__container__image {
    height: 60vh;
    width: 90vw;
    text-align: center;
    font-size: 50px;
    margin-right: 30px;
  }
  .about p {
    font-size: 22px;
    margin-right: 20px;
  }
  .about .about__container__form {
    display: flex;
    height: 40vh;
    width: 85vw;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7), -7px -7px 8px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    backface-visibility: visible;
    background-color: rgba(0, 0, 0, 0.514);
    margin-right: 70px;
  }
  .about .about__container__form label {
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 300;
  }
  .about .about__container__form input {
    margin-bottom: 10px;
  }
  .about .about__container__form h2 {
    margin-bottom: 10px;
  }
  .about .about__container__form button {
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px;
    width: 8vw;
    font-weight: 600;
    background-color: rgba(197, 102, 201, 0.74);
    cursor: pointer;
    transition: 0.3s;
    color: white;
  }
  .about .about__container__form .form__name {
    width: 60vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
  }
  .about .about__container__form .form__email {
    width: 60vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
  }
  .about .about__container__form .form__message {
    width: 80vw;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.7);
    line-height: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
